<article class="post">
  <div class="title">
    <div> {{title}} </div>
    <div> {{post_content}} </div>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>